<h1>New Guy</h1>
<form>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Jane Doe" ng-model="newContact.name">
    </div>
</form>
<form>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="example@gmail.com" ng-model="newContact.email">
    </div>
</form>
<form>
    <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" placeholder="xxx-xxx-xxxx" ng-model="newContact.phone">
    </div>
</form>
  <div class="text-center">
        <button class="btn btn-default" ng-click="addNewContact()">Save</button>
    </div>
</form>